# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare windows files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vsxproj.user text eol=crlf